body
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,92,187,1) 0%, rgba(0,212,255,1) 100%);
}

h1
{
    text-align: center;
    color: #FFFFF0;
    font-size: 5rem;
    margin-top: 2.5%;
}

.logo
{
  margin-top: 5%;
  margin-left: 45%;
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 10rem;
}
